.main-dash {
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondarybg);
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 450px) {
  .show-menu-btn {
    transform: translateX(-50vw);
  }
}
