/*ThemeToggle */

.theme-toggle-wrapper {
  background: var(--secondarybg);
  border: 2px solid red;
  /* height: 4.8rem; */
  padding: 1.1rem;
  margin-bottom: 2.4rem;
  border-radius: 5px;
}

.theme-toggler {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.theme-toggle:hover {
  box-shadow: 2px 3px 30px var(--purple);
}

.theme-toggle::before {
  content: "";
  background: var(--purple);
  width: 4rem;
  height: 2rem;
  border-radius: 100px;
  position: absolute;
  left: -1.5rem;
  top: -0.35rem;
}

.theme-toggle::after {
  content: "";
  background: var(--white);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 0rem;
  transition: 0.3s ease;
}

.theme-toggle:checked::after {
  left: 0.5rem;
}

/*Boards */

.boards {
  margin-top: 3.1rem;
}

.boards-header {
  font-size: 1.2rem;
  letter-spacing: 2.4px;
  font-weight: 300;
  padding-left: 2.4rem;
  text-transform: uppercase;
}

.board-item {
  padding: 1rem 2.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.highlight {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: 0.5s ease;
  animation: 0.5s grow forwards;
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
    background: var(--purple);
    color: var(--white);
  }
}

.hover-item:hover {
  transform: translateX(-0.5rem);
}

.board-name {
  font-size: 1.5rem;
  margin-left: 1.2rem;
  color: var(--secondarycolor);
}

.add-new {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-new:hover {
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: 2px 3px 15px var(--lightpurple);
}

.active {
  background: var(--purple);
  color: var(--white);
}

@media screen and (max-width: 850px) {
  .boards-header {
    padding-left: 1.2rem;
  }

  .board-item {
    padding: 1rem 1.2rem;
  }
}
